.act {
    font-size: var(--font-size);
    line-height: 1.43;
    margin-bottom: 60px;

    &__body {
        background-color: var(--mono-color-lightest);
        padding: 32px;
    }

    &__title {
        color: var(--primary-color-dark);
        font-family: var(--font-family-secondary);
        font-size: var(--font-size-xxlarge);
        font-weight: var(--font-weight-bold);
        line-height: 1.2;
        margin-bottom: 16px;
    }

    &__footer {
        background-color: var(--primary-color-dark);
        color: var(--copy-color-invert);
        padding: 32px 32px 36px;

        &__title {
            font-weight: var(--font-weight-bold);
            margin-bottom: 8px;
        }
    }
}
