.logo {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);

    &::after {
        background: currentColor;
        content: "";
        display: block;
        height: 3px;
        margin: 8px 0 24px;
        width: 80px;
    }
}
