.progress {
    &:not(:last-child) {
        margin-bottom: 8px;
    }

    &__label {
        font-size: var(--font-size-xsmall);
        font-weight: var(--font-weight-bold);
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__bar {
        background: color(var(--mono-color-lightest) alpha(-95%));
        border: 1px solid color(var(--mono-color-lightest) alpha(-90%));
        height: 30px;
        overflow: hidden;

        &__value {
            background-color: var(--mono-color-lightest);
            height: inherit;
            transition: all 0.15s linear;
            width: 0;
        }
    }
}
