.speech {
    font-size: var(--font-size-small);
    margin-bottom: 32px;

    &__text {
        &:not(:last-child) {
            padding-left: 4px;
        }
    }

    &__speaker {
        background-color: var(--mono-color-dark);
        border-radius: 16px;
        color: var(--mono-color-lightest);
        display: inline-block;
        font-size: var(--font-size-xxsmall);
        font-weight: var(--font-weight-bold);
        line-height: 1;
        margin-bottom: 4px;
        opacity: 0.7;
        padding: 4px 10px 6px;
    }
}
