:root {
    --sidebar-size: 200px;
}

.play {
    padding-left: var(--sidebar-size);

    &__sidebar {
        left: var(--site-padding);
        max-width: var(--sidebar-size);
        position: fixed;
        top: var(--site-padding);
    }
}
